:root {
  --white: #FFFFFF;
  --black: #000000;
  --brown-50: #F6F1EE;
  --brown-100: #E5D4CC;
  --brown-200: #D4B8AA;
  --brown-300: #C39B89;
  --brown-400: #B27F67;
  --brown-500: #98664D;
  --brown-600: #764F3C;
  --brown-700: #55382B;
  --brown-800: #33221A;
  --brown-900: #110B09;
  --mandarin-50: #FFEFE5;
  --mandarin-100: #FFCFB3;
  --mandarin-200: #FFAF80;
  --mandarin-300: #FF8F4D;
  --mandarin-400: #FF701A;
  --mandarin-500: #E65600;
  --mandarin-600: #B34300;
  --mandarin-700: #803000;
  --mandarin-800: #4D1D00;
  --mandarin-900: #1A0A00;
}

body {
  font-family: "Quicksand", sans-serif;
}
body .form-select {
  border-radius: 999px;
}
body .btn {
  border-radius: 999px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 16px;
}
@media (min-width: 576px) {
  header {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 30px 60px;
    gap: 30px;
  }
}
header .header-actions {
  display: flex;
  gap: 8px;
  align-items: center;
}
header .header-actions select {
  width: auto;
}
@media (min-width: 576px) {
  header .header-actions select {
    padding-left: 16px;
  }
}
@media (min-width: 576px) {
  header .header-actions .btn {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.hero {
  background-color: var(--brown-50);
}
@media (min-width: 576px) {
  .hero {
    background: url("../img/hero-bg.png") bottom center no-repeat;
    background-size: cover;
  }
}
.hero .hero-bottom {
  display: flex;
  padding: 0;
}
@media (min-width: 576px) {
  .hero .hero-bottom {
    padding: 30px 60px 0 60px;
    gap: 30px;
  }
}
.hero .hero-bottom > div {
  flex: 1;
}
@media (min-width: 576px) {
  .hero .hero-bottom > div:first-child {
    flex: unset;
  }
}
.hero .hero-showcase {
  display: none;
  position: relative;
}
@media (min-width: 576px) {
  .hero .hero-showcase {
    display: unset;
  }
}
.hero .hero-showcase .hero-image-1 {
  position: absolute;
  right: 340px;
  bottom: -8px;
}
.hero .hero-showcase .hero-image-2 {
  position: absolute;
  right: 0;
  bottom: -24px;
  z-index: 1;
}
.hero .hero-caption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 8px;
  align-self: stretch;
}
.hero .hero-caption .hero-title {
  display: flex;
  padding: 0 24px 0 24px;
  justify-content: center;
  align-items: center;
  border-radius: 27px 27px 0px 27px;
  border: 4px solid var(--mandarin-400);
  color: var(--mandarin-400);
  text-align: right;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  text-transform: uppercase;
  margin: 0;
}
.hero .hero-caption .hero-subtitle {
  display: flex;
  padding: 0 24px 0 24px;
  align-items: flex-start;
  border-radius: 27px 0px 27px 27px;
  border: 4px solid var(--brown-900);
  background: var(--brown-900);
  color: var(--brown-50);
  text-align: right;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  text-transform: uppercase;
  margin: 0;
}

.search {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 9;
  padding: 16px;
  gap: 8px;
  background: var(--brown-900);
  width: 100%;
}
@media (min-width: 576px) {
  .search {
    width: 450px;
    padding: 30px;
    border-radius: 30px 30px 30px 0px;
    box-shadow: 2px 4px 16px 0px rgba(32, 21, 17, 0.16);
  }
}
.search .search-title {
  color: #ffefe5;
  font-family: Quicksand;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.search .search-inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}
.search .search-inner .search-row {
  position: relative;
  display: flex;
  align-items: center;
  align-self: stretch;
  background-color: var(--white);
  border-radius: 999px;
  padding-left: 48px;
  padding-right: 8px;
  height: 48px;
  gap: 8px;
}
.search .search-inner .search-row .search-icon {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 8px;
  margin: auto;
  padding: 8px;
  height: 40px;
}
.search .search-inner .search-row .search-icon img {
  width: 24px;
  height: 24px;
}
.search .search-inner .search-row .btn-roundtrip,
.search .search-inner .search-row .btn-oneway {
  font-size: 12px;
}
.search .search-inner .search-row[data-route-type] {
  padding-right: 12px;
}
.search .search-inner .search-row[data-route-type=OneWay] [data-route=return] {
  display: none;
}
.search .search-inner .search-row[data-route-type=OneWay] .btn-oneway {
  display: none;
}
.search .search-inner .search-row[data-route-type=RoundTrip] .btn-roundtrip {
  display: none;
}
.search .search-inner .search-row[data-route-type=RoundTrip] label {
  display: block;
}
.search .search-inner .search-row[data-route-type=RoundTrip] .search-input {
  padding-top: 12px;
  padding-bottom: 0;
}
.search .search-inner .search-row:has(input:not(:-moz-placeholder-shown)) label {
  display: block;
}
.search .search-inner .search-row:has(input:not(:placeholder-shown)) label {
  display: block;
}
.search .search-inner .search-row:has(input:not(:-moz-placeholder-shown)) .search-input {
  padding-top: 12px;
  padding-bottom: 0;
}
.search .search-inner .search-row:has(input:not(:placeholder-shown)) .search-input {
  padding-top: 12px;
  padding-bottom: 0;
}
.search .search-inner .search-row:not([data-route-type]) .search-input {
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
}
.search .search-item {
  width: 100%;
  position: relative;
}
.search .search-item label {
  display: none;
  position: absolute;
  left: 8px;
  top: 2px;
  color: var(--brown-400);
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: 12px;
  z-index: 1;
}
.search .search-item .search-input {
  height: 36px;
  border: 0;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: -0.5px;
}
.search .search-item .search-input::-moz-placeholder {
  color: var(--brown-700);
  font-weight: normal;
}
.search .search-item .search-input::placeholder {
  color: var(--brown-700);
  font-weight: normal;
}
.search .search-item .btn-pax {
  background-color: var(--white);
  width: 100%;
  display: flex;
  align-items: center;
  gap: 2px;
}
.search .search-item .btn-pax strong {
  flex: 1;
  font-weight: normal;
  text-align: left;
  font-size: 13px;
}
.search .search-item [data-count="0"] {
  display: none;
}
.search .search-item .badges {
  display: flex;
  position: absolute;
  right: 8px;
  margin: auto;
  top: 0;
  bottom: 0;
  align-items: center;
  gap: 4px;
}
.search .search-item .badges .badge {
  display: none;
  width: 28px;
  height: 28px;
  border-radius: 8px;
  padding: 0;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  background: var(--brown-50);
  color: var(--brown-500);
}
.search .search-item .badges .badge.available {
  display: flex;
}
.search .search-item .badges .badge.selected {
  display: flex;
}
.search .search-item .badges .btn {
  display: none;
  background-color: var(--white);
}
.search .search-item .badges:has(.selected) .badge {
  display: none;
}
.search .search-item .badges:has(.selected) .badge.selected {
  display: flex;
}
.search .search-item .badges:has(.selected) .btn {
  display: inline-block;
}
.search .search-pax-wrapper {
  display: none;
  width: 100%;
}
.search .search-pax {
  display: flex;
  width: 100%;
  border-radius: 16px;
  background: var(--white);
  padding: 16px;
  align-items: flex-start;
  gap: 16px;
  flex: 1 0 0;
  box-shadow: 2px 4px 16px 0px rgba(32, 21, 17, 0.16);
}
.search .search-pax .pax-item {
  flex: 1;
}
.search .search-pax .pax-title {
  display: flex;
}
.search .search-pax .pax-title strong {
  flex: 1;
  color: var(--brown-700);
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
}
.search .search-pax .pax-title span {
  color: var(--brown-400);
  font-size: 10px;
  font-weight: 600;
}
.search .stepper {
  display: flex;
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--brown-50);
  background: var(--brown-50);
}
.search .stepper:focus-visible {
  box-shadow: 0 0 0 0.25rem rgba(152, 102, 77, 0.25);
  outline: 0;
}
.search .stepper .stepper-number {
  height: 28px;
  line-height: 28px;
  flex: 1;
  min-width: 28px;
  text-align: center;
  color: var(--brown-400);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}
.search .stepper .btn {
  background: var(--brown-50);
  border-radius: 2px;
  padding: 0;
  width: 28px;
  height: 28px;
}
.search .search-buttons {
  display: flex;
  align-items: center;
  align-self: stretch;
  gap: 8px;
}
.search .search-buttons .btn-search {
  border-radius: 999px;
  color: var(--white);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  text-transform: uppercase;
  width: 100%;
  height: 48px;
}
.search .search-buttons .btn-history {
  display: flex;
  width: 48px;
  height: 48px;
  justify-content: center;
  align-items: center;
  border-radius: 999px;
}

.widget {
  padding: 60px 60px 60px 60px;
}
.widget .widget-title {
  color: var(--brown-500);
  font-size: 20px;
  font-weight: bold;
  display: flex;
  gap: 16px;
  align-items: center;
}
.widget .widget-title img {
  width: 32px;
}
.widget .widget-title.light {
  color: var(--brown-50);
}
.widget .widget-text {
  color: var(--brown-900);
  font-size: 14px;
  line-height: 1.6;
}
.widget .widget-text.light {
  color: var(--brown-50);
}

.why {
  background-color: var(--brown-50);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.why .why-inner {
  display: flex;
  gap: 30px;
}
.why .why-inner .why-item {
  display: flex;
  padding: 24px;
  border-radius: 24px 24px 24px 0px;
  align-items: center;
  gap: 16px;
  flex: 1 0 0;
  background: var(--white);
}
.why .why-inner .why-item p {
  margin: 0;
  color: var(--brown-700);
}
.why .why-inner .why-icon {
  display: flex;
  padding: 16px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 999px;
}

.vehicles {
  background-color: var(--white);
  padding-left: 44px;
  padding-right: 44px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.vehicles .header {
  padding: 0 16px;
}
.vehicles #owlVehicle:hover {
  cursor: grab;
}
.vehicles #owlVehicle.owl-grab {
  cursor: grabbing;
}
.vehicles #owlVehicle .owl-nav {
  position: absolute;
  top: -48px;
  right: 16px;
  display: flex;
  gap: 16px;
}
.vehicles #owlVehicle .owl-item {
  padding: 16px;
}
.vehicles #owlVehicle .list-item {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: flex;
  flex: 1;
  padding: 24px;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  border-radius: 24px 24px 24px 0px;
  background: var(--brown-50);
}
.vehicles #owlVehicle .list-item img {
  height: 72px;
  width: auto;
  mix-blend-mode: multiply;
}
.vehicles #owlVehicle .list-item .name {
  color: var(--brown-900);
  font-size: 13px;
  margin: 0;
  white-space: nowrap;
}

.about {
  display: flex;
  align-items: flex-start;
  gap: 48px;
  align-self: stretch;
  background: var(--brown-900);
}
.about .about-item {
  display: flex;
  padding: 36px;
  border-radius: 36px 36px 36px 0px;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  gap: 24px;
  flex: 1 0 0;
  background: var(--brown-800);
}
.about .about-item .widget-text {
  flex: 1 0 0;
  line-height: 2;
}
.about .about-item .btn-about {
  display: flex;
  padding: 16px 48px;
  justify-content: center;
  align-items: center;
  height: 55px;
  border-radius: 27.5px 27.5px 27.5px 0px;
  background: var(--brown-500);
  color: var(--brown-50);
  font-size: 18px;
  font-weight: 700;
}
.about .about-item.about-box {
  background: var(--brown-50);
}

.popular {
  display: flex;
  gap: 48px;
  background: var(--white);
  flex-wrap: wrap;
}
.popular .popular-item {
  position: relative;
  display: flex;
  min-height: 240px;
  flex-direction: column;
  padding: 48px 48px 48px 48px;
  border-radius: 48px 48px 48px 0px;
  gap: 16px;
  background: var(--brown-50);
  flex: 1;
}
.popular .popular-item:first-child {
  flex: unset;
  width: 100%;
  padding: 48px 240px 48px 48px;
}
.popular .popular-item .popular-img {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 240px;
  z-index: 0;
}
.popular .popular-item .popular-img.img-airports {
  right: 16px;
  height: 260px;
}
.popular .popular-item .popular-img.img-cities {
  bottom: -32px;
  right: -16px;
}
.popular .popular-item .popular-img.img-regions {
  bottom: -16px;
  right: -32px;
}
.popular .popular-item .popular-list {
  z-index: 1;
  line-height: 2;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 12px;
  align-items: flex-start;
}
.popular .popular-item .popular-list li a {
  display: inline-block;
  color: var(--brown-900);
  font-size: 14px;
  font-weight: 500;
  white-space: nowrap;
  padding: 4px 24px 4px 16px;
  border: 1px solid var(--brown-400);
  text-decoration: none;
  border-radius: 50vh 50vh 50vh 0;
}
.popular .popular-item .popular-list li a:hover {
  background: var(--white);
  border: 1px solid var(--mandarin-400);
  color: var(--mandarin-500);
}

.subscribe {
  background: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.subscribe .subscribe-text {
  font-size: 20px;
  color: var(--brown-500);
}
.subscribe form {
  width: 50%;
}
.subscribe form .form-floating input {
  width: 100%;
  border-radius: 50vh 50vh 50vh 0;
  padding-left: 24px;
  border-color: var(--brown-500);
}
.subscribe form .form-floating label {
  padding-left: 24px;
  color: var(--brown-500);
  font-weight: 500;
}
.subscribe form .btn {
  border-radius: 0 50vh 50vh 50vh;
  width: 100%;
}

footer {
  background: var(--brown-900);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
footer .footer-inner {
  display: flex;
  gap: 24px;
  width: 100%;
}
footer .footer-inner > div {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 24px;
}
footer .footer-menu {
  display: flex;
  gap: 24px;
}
footer .footer-menu ul {
  margin: 0;
  padding: 16px 0;
  list-style: none;
}
footer .footer-menu ul li a {
  display: block;
  color: var(--brown-50);
  text-decoration: none;
  padding: 8px 24px 8px 16px;
  border-radius: 50vh 50vh 50vh 0;
}
footer .footer-menu ul li a:hover {
  background: var(--brown-700);
}
footer .footer-contact {
  display: flex;
  gap: 24px;
  width: 100%;
}
footer .footer-contact > div {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 32px;
  border-radius: 16px 16px 16px 0;
  background: var(--brown-800);
  color: var(--brown-50);
  align-items: center;
}
footer .footer-contact > div:hover {
  background: var(--brown-700);
}
footer .footer-contact > div img {
  height: 40px;
}
footer .footer-logos {
  display: flex;
  justify-content: flex-end;
}
footer .footer-logos ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 8px;
}

.copyright {
  background: var(--brown-900);
  padding: 16px;
  display: flex;
  color: var(--brown-300);
  font-size: 14px;
  align-self: center;
  justify-content: center;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--brown-200) var(--brown-50);
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

*::-webkit-scrollbar-track {
  border-radius: 0px;
  background-color: var(--brown-50);
}

*::-webkit-scrollbar-track:hover {
  background-color: var(--brown-50);
}

*::-webkit-scrollbar-track:active {
  background-color: var(--brown-50);
}

*::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background-color: var(--brown-200);
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--brown-200);
}

*::-webkit-scrollbar-thumb:active {
  background-color: var(--brown-200);
}

.autoComplete_wrapper {
  display: inline-block;
  position: relative;
  width: 100%;
}
.autoComplete_wrapper > ul {
  position: absolute;
  max-height: 226px;
  overflow-y: scroll;
  box-sizing: border-box;
  left: -48px;
  right: -8px;
  margin: 0.5rem 0 0 0;
  padding: 0;
  z-index: 2;
  list-style: none;
  border-radius: 0.6rem;
  background-color: var(--white);
  border: 1px solid rgba(33, 33, 33, 0.07);
  box-shadow: 0 3px 6px rgba(149, 157, 165, 0.15);
  outline: 0;
  transition: opacity 0.15s ease-in-out;
}
.autoComplete_wrapper > ul:empty, .autoComplete_wrapper > ul[hidden] {
  display: block;
  opacity: 0;
  transform: scale(0);
}
.autoComplete_wrapper > ul > li {
  margin: 0;
  padding: 8px 16px;
  text-align: left;
  font-size: 12px;
  color: var(--brown-700);
  background-color: var(--white);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all 0.2s ease;
}
.autoComplete_wrapper > ul > li:hover {
  cursor: pointer;
  background: var(--brown-50);
}
.autoComplete_wrapper > ul > li[aria-selected=true] {
  background: var(--brown-50);
}
.autoComplete_wrapper > ul > li .rs-item {
  display: flex;
  gap: 12px;
  align-items: center;
}
.autoComplete_wrapper > ul > li .rs-item svg {
  width: 20px;
  height: 20px;
}
.autoComplete_wrapper > ul > li .rs-item strong {
  display: block;
}
.autoComplete_wrapper > ul > li .rs-item small {
  font-size: 11px;
}
.autoComplete_wrapper > ul > li mark {
  color: var(--mandarin-500);
  font-weight: 700;
}

.air-datepicker-cell.-year-.-other-decade-,
.air-datepicker-cell.-day-.-other-month- {
  color: var(--adp-color-other-month);
}

.air-datepicker-cell.-year-.-other-decade-:hover,
.air-datepicker-cell.-day-.-other-month-:hover {
  color: var(--adp-color-other-month-hover);
}

.-disabled-.-focus-.air-datepicker-cell.-year-.-other-decade-,
.-disabled-.-focus-.air-datepicker-cell.-day-.-other-month- {
  color: var(--adp-color-other-month);
}

.-selected-.air-datepicker-cell.-year-.-other-decade-,
.-selected-.air-datepicker-cell.-day-.-other-month- {
  color: #fff;
  background: var(--adp-background-color-selected-other-month);
}

.-selected-.-focus-.air-datepicker-cell.-year-.-other-decade-,
.-selected-.-focus-.air-datepicker-cell.-day-.-other-month- {
  background: var(--adp-background-color-selected-other-month-focused);
}

.-in-range-.air-datepicker-cell.-year-.-other-decade-,
.-in-range-.air-datepicker-cell.-day-.-other-month- {
  background-color: var(--adp-background-color-in-range);
  color: var(--adp-color);
}

.-in-range-.-focus-.air-datepicker-cell.-year-.-other-decade-,
.-in-range-.-focus-.air-datepicker-cell.-day-.-other-month- {
  background-color: var(--adp-background-color-in-range-focused);
}

.air-datepicker-cell.-year-.-other-decade-:empty,
.air-datepicker-cell.-day-.-other-month-:empty {
  background: none;
  border: none;
}

.air-datepicker-cell {
  border-radius: var(--adp-cell-border-radius);
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.air-datepicker-cell.-focus- {
  background: var(--adp-cell-background-color-hover);
}

.air-datepicker-cell.-current- {
  color: var(--adp-color-current-date);
}

.air-datepicker-cell.-current-.-focus- {
  color: var(--adp-color);
}

.air-datepicker-cell.-current-.-in-range- {
  color: var(--adp-color-current-date);
}

.air-datepicker-cell.-disabled- {
  cursor: default;
  color: var(--adp-color-disabled);
}

.air-datepicker-cell.-disabled-.-focus- {
  color: var(--adp-color-disabled);
}

.air-datepicker-cell.-disabled-.-in-range- {
  color: var(--adp-color-disabled-in-range);
}

.air-datepicker-cell.-disabled-.-current-.-focus- {
  color: var(--adp-color-disabled);
}

.air-datepicker-cell.-in-range- {
  background: var(--adp-cell-background-color-in-range);
  border-radius: 0;
}

.air-datepicker-cell.-in-range-:hover {
  background: var(--adp-cell-background-color-in-range-hover);
}

.air-datepicker-cell.-range-from- {
  border: 1px solid var(--adp-cell-border-color-in-range);
  background-color: var(--adp-cell-background-color-in-range);
  border-radius: var(--adp-cell-border-radius) 0 0 var(--adp-cell-border-radius);
}

.air-datepicker-cell.-range-to- {
  border: 1px solid var(--adp-cell-border-color-in-range);
  background-color: var(--adp-cell-background-color-in-range);
  border-radius: 0 var(--adp-cell-border-radius) var(--adp-cell-border-radius) 0;
}

.air-datepicker-cell.-range-to-.-range-from- {
  border-radius: var(--adp-cell-border-radius);
}

.air-datepicker-cell.-selected- {
  color: #fff;
  border: none;
  background: var(--adp-cell-background-color-selected);
}

.air-datepicker-cell.-selected-.-current- {
  color: #fff;
  background: var(--adp-cell-background-color-selected);
}

.air-datepicker-cell.-selected-.-focus- {
  background: var(--adp-cell-background-color-selected-hover);
}

.air-datepicker-body {
  transition: all var(--adp-transition-duration) var(--adp-transition-ease);
}

.air-datepicker-body.-hidden- {
  display: none;
}

.air-datepicker-body--day-names {
  display: grid;
  grid-template-columns: repeat(7, var(--adp-day-cell-width));
  margin: 8px 0 3px;
}

.air-datepicker-body--day-name {
  color: var(--adp-day-name-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.8em;
}

.air-datepicker-body--day-name.-clickable- {
  cursor: pointer;
}

.air-datepicker-body--day-name.-clickable-:hover {
  color: var(--adp-day-name-color-hover);
}

.air-datepicker-body--cells {
  display: grid;
}

.air-datepicker-body--cells.-days- {
  grid-template-columns: repeat(7, var(--adp-day-cell-width));
  grid-auto-rows: var(--adp-day-cell-height);
}

.air-datepicker-body--cells.-months- {
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: var(--adp-month-cell-height);
}

.air-datepicker-body--cells.-years- {
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: var(--adp-year-cell-height);
}

.air-datepicker-nav {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--adp-border-color-inner);
  min-height: var(--adp-nav-height);
  padding: var(--adp-padding);
  box-sizing: content-box;
}

.-only-timepicker- .air-datepicker-nav {
  display: none;
}

.air-datepicker-nav--title,
.air-datepicker-nav--action {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.air-datepicker-nav--action {
  width: var(--adp-nav-action-size);
  border-radius: var(--adp-border-radius);
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.air-datepicker-nav--action:hover {
  background: var(--adp-background-color-hover);
}

.air-datepicker-nav--action:active {
  background: var(--adp-background-color-active);
}

.air-datepicker-nav--action.-disabled- {
  visibility: hidden;
}

.air-datepicker-nav--action svg {
  width: 32px;
  height: 32px;
}

.air-datepicker-nav--action path {
  fill: none;
  stroke: var(--adp-nav-arrow-color);
  stroke-width: 2px;
}

.air-datepicker-nav--title {
  border-radius: var(--adp-border-radius);
  padding: 0 8px;
}

.air-datepicker-nav--title i {
  font-style: normal;
  color: var(--adp-nav-color-secondary);
  margin-left: 0.3em;
}

.air-datepicker-nav--title:hover {
  background: var(--adp-background-color-hover);
}

.air-datepicker-nav--title:active {
  background: var(--adp-background-color-active);
}

.air-datepicker-nav--title.-disabled- {
  cursor: default;
  background: none;
}

.air-datepicker-buttons {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
}

.air-datepicker-button {
  display: inline-flex;
  color: var(--adp-btn-color);
  border-radius: var(--adp-btn-border-radius);
  cursor: pointer;
  height: var(--adp-btn-height);
  border: none;
  background: rgba(255, 255, 255, 0);
}

.air-datepicker-button:hover {
  color: var(--adp-btn-color-hover);
  background: var(--adp-btn-background-color-hover);
}

.air-datepicker-button:focus {
  color: var(--adp-btn-color-hover);
  background: var(--adp-btn-background-color-hover);
  outline: none;
}

.air-datepicker-button:active {
  background: var(--adp-btn-background-color-active);
}

.air-datepicker-button span {
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.air-datepicker-time {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-column-gap: 12px;
  align-items: center;
  position: relative;
  padding: 0 var(--adp-time-padding-inner);
}

.-only-timepicker- .air-datepicker-time {
  border-top: none;
}

.air-datepicker-time--current {
  display: flex;
  align-items: center;
  flex: 1;
  font-size: 14px;
  text-align: center;
}

.air-datepicker-time--current-colon {
  margin: 0 2px 3px;
  line-height: 1;
}

.air-datepicker-time--current-hours,
.air-datepicker-time--current-minutes {
  line-height: 1;
  font-size: 19px;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  position: relative;
  z-index: 1;
}

.air-datepicker-time--current-hours:after,
.air-datepicker-time--current-minutes:after {
  content: "";
  background: var(--adp-background-color-hover);
  border-radius: var(--adp-border-radius);
  position: absolute;
  left: -2px;
  top: -3px;
  right: -2px;
  bottom: -2px;
  z-index: -1;
  opacity: 0;
}

.air-datepicker-time--current-hours.-focus-:after,
.air-datepicker-time--current-minutes.-focus-:after {
  opacity: 1;
}

.air-datepicker-time--current-ampm {
  text-transform: uppercase;
  align-self: flex-end;
  color: var(--adp-time-day-period-color);
  margin-left: 6px;
  font-size: 11px;
  margin-bottom: 1px;
}

.air-datepicker-time--row {
  display: flex;
  align-items: center;
  font-size: 11px;
  height: 17px;
  background: linear-gradient(to right, var(--adp-time-track-color), var(--adp-time-track-color)) left 50%/100% var(--adp-time-track-height) no-repeat;
}

.air-datepicker-time--row:first-child {
  margin-bottom: 4px;
}

.air-datepicker-time--row input[type=range] {
  background: none;
  cursor: pointer;
  flex: 1;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
}

.air-datepicker-time--row input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

.air-datepicker-time--row input[type=range]::-ms-tooltip {
  display: none;
}

.air-datepicker-time--row input[type=range]:hover::-webkit-slider-thumb {
  border-color: var(--adp-time-track-color-hover);
}

.air-datepicker-time--row input[type=range]:hover::-moz-range-thumb {
  border-color: var(--adp-time-track-color-hover);
}

.air-datepicker-time--row input[type=range]:hover::-ms-thumb {
  border-color: var(--adp-time-track-color-hover);
}

.air-datepicker-time--row input[type=range]:focus {
  outline: none;
}

.air-datepicker-time--row input[type=range]:focus::-webkit-slider-thumb {
  background: var(--adp-cell-background-color-selected);
  border-color: var(--adp-cell-background-color-selected);
}

.air-datepicker-time--row input[type=range]:focus::-moz-range-thumb {
  background: var(--adp-cell-background-color-selected);
  border-color: var(--adp-cell-background-color-selected);
}

.air-datepicker-time--row input[type=range]:focus::-ms-thumb {
  background: var(--adp-cell-background-color-selected);
  border-color: var(--adp-cell-background-color-selected);
}

.air-datepicker-time--row input[type=range]::-webkit-slider-thumb {
  box-sizing: border-box;
  height: 12px;
  width: 12px;
  border-radius: 3px;
  border: 1px solid var(--adp-time-track-color);
  background: #fff;
  cursor: pointer;
  -webkit-transition: background var(--adp-transition-duration);
  transition: background var(--adp-transition-duration);
}

.air-datepicker-time--row input[type=range]::-moz-range-thumb {
  box-sizing: border-box;
  height: 12px;
  width: 12px;
  border-radius: 3px;
  border: 1px solid var(--adp-time-track-color);
  background: #fff;
  cursor: pointer;
  -moz-transition: background var(--adp-transition-duration);
  transition: background var(--adp-transition-duration);
}

.air-datepicker-time--row input[type=range]::-ms-thumb {
  box-sizing: border-box;
  height: 12px;
  width: 12px;
  border-radius: 3px;
  border: 1px solid var(--adp-time-track-color);
  background: #fff;
  cursor: pointer;
  -ms-transition: background var(--adp-transition-duration);
  transition: background var(--adp-transition-duration);
}

.air-datepicker-time--row input[type=range]::-webkit-slider-thumb {
  margin-top: calc(var(--adp-time-thumb-size) / 2 * -1);
}

.air-datepicker-time--row input[type=range]::-webkit-slider-runnable-track {
  border: none;
  height: var(--adp-time-track-height);
  cursor: pointer;
  color: rgba(0, 0, 0, 0);
  background: rgba(0, 0, 0, 0);
}

.air-datepicker-time--row input[type=range]::-moz-range-track {
  border: none;
  height: var(--adp-time-track-height);
  cursor: pointer;
  color: rgba(0, 0, 0, 0);
  background: rgba(0, 0, 0, 0);
}

.air-datepicker-time--row input[type=range]::-ms-track {
  border: none;
  height: var(--adp-time-track-height);
  cursor: pointer;
  color: rgba(0, 0, 0, 0);
  background: rgba(0, 0, 0, 0);
}

.air-datepicker-time--row input[type=range]::-ms-fill-lower {
  background: rgba(0, 0, 0, 0);
}

.air-datepicker-time--row input[type=range]::-ms-fill-upper {
  background: rgba(0, 0, 0, 0);
}

.air-datepicker {
  --adp-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --adp-font-size: 14px;
  --adp-width: 246px;
  --adp-z-index: 100;
  --adp-padding: 4px;
  --adp-grid-areas: "nav" "body" "timepicker" "buttons";
  --adp-transition-duration: .3s;
  --adp-transition-ease: ease-out;
  --adp-transition-offset: 8px;
  --adp-background-color: #fff;
  --adp-background-color-hover: #f0f0f0;
  --adp-background-color-active: #eaeaea;
  --adp-background-color-in-range: rgba(92, 196, 239, .1);
  --adp-background-color-in-range-focused: rgba(92, 196, 239, .2);
  --adp-background-color-selected-other-month-focused: #8ad5f4;
  --adp-background-color-selected-other-month: #a2ddf6;
  --adp-color: #4a4a4a;
  --adp-color-secondary: #9c9c9c;
  --adp-accent-color: #4eb5e6;
  --adp-color-current-date: var(--adp-accent-color);
  --adp-color-other-month: #dedede;
  --adp-color-disabled: #aeaeae;
  --adp-color-disabled-in-range: #939393;
  --adp-color-other-month-hover: #c5c5c5;
  --adp-border-color: #dbdbdb;
  --adp-border-color-inner: #efefef;
  --adp-border-radius: 4px;
  --adp-border-color-inline: #d7d7d7;
  --adp-nav-height: 32px;
  --adp-nav-arrow-color: var(--adp-color-secondary);
  --adp-nav-action-size: 32px;
  --adp-nav-color-secondary: var(--adp-color-secondary);
  --adp-day-name-color: #ff9a19;
  --adp-day-name-color-hover: #8ad5f4;
  --adp-day-cell-width: 1fr;
  --adp-day-cell-height: 32px;
  --adp-month-cell-height: 42px;
  --adp-year-cell-height: 56px;
  --adp-pointer-size: 10px;
  --adp-poiner-border-radius: 2px;
  --adp-pointer-offset: 14px;
  --adp-cell-border-radius: 4px;
  --adp-cell-background-color-hover: var(--adp-background-color-hover);
  --adp-cell-background-color-selected: #5cc4ef;
  --adp-cell-background-color-selected-hover: #45bced;
  --adp-cell-background-color-in-range: rgba(92, 196, 239, 0.1);
  --adp-cell-background-color-in-range-hover: rgba(92, 196, 239, 0.2);
  --adp-cell-border-color-in-range: var(--adp-cell-background-color-selected);
  --adp-btn-height: 32px;
  --adp-btn-color: var(--adp-accent-color);
  --adp-btn-color-hover: var(--adp-color);
  --adp-btn-border-radius: var(--adp-border-radius);
  --adp-btn-background-color-hover: var(--adp-background-color-hover);
  --adp-btn-background-color-active: var(--adp-background-color-active);
  --adp-time-track-height: 1px;
  --adp-time-track-color: #dedede;
  --adp-time-track-color-hover: #b1b1b1;
  --adp-time-thumb-size: 12px;
  --adp-time-padding-inner: 10px;
  --adp-time-day-period-color: var(--adp-color-secondary);
  --adp-mobile-font-size: 16px;
  --adp-mobile-nav-height: 40px;
  --adp-mobile-width: 320px;
  --adp-mobile-day-cell-height: 38px;
  --adp-mobile-month-cell-height: 48px;
  --adp-mobile-year-cell-height: 64px ;
}

.air-datepicker-overlay {
  --adp-overlay-background-color: rgba(0, 0, 0, .3);
  --adp-overlay-transition-duration: .3s;
  --adp-overlay-transition-ease: ease-out;
  --adp-overlay-z-index: 99 ;
}

.air-datepicker {
  background: var(--adp-background-color);
  border: 1px solid var(--adp-border-color);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  border-radius: var(--adp-border-radius);
  box-sizing: content-box;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, max-content);
  grid-template-areas: var(--adp-grid-areas);
  font-family: var(--adp-font-family), sans-serif;
  font-size: var(--adp-font-size);
  color: var(--adp-color);
  width: var(--adp-width);
  position: absolute;
  transition: opacity var(--adp-transition-duration) var(--adp-transition-ease), transform var(--adp-transition-duration) var(--adp-transition-ease);
  z-index: var(--adp-z-index);
}

.air-datepicker:not(.-custom-position-) {
  opacity: 0;
}

.air-datepicker.-from-top- {
  transform: translateY(calc(var(--adp-transition-offset) * -1));
}

.air-datepicker.-from-right- {
  transform: translateX(var(--adp-transition-offset));
}

.air-datepicker.-from-bottom- {
  transform: translateY(var(--adp-transition-offset));
}

.air-datepicker.-from-left- {
  transform: translateX(calc(var(--adp-transition-offset) * -1));
}

.air-datepicker.-active-:not(.-custom-position-) {
  transform: translate(0, 0);
  opacity: 1;
}

.air-datepicker.-active-.-custom-position- {
  transition: none;
}

.air-datepicker.-inline- {
  border-color: var(--adp-border-color-inline);
  box-shadow: none;
  position: static;
  left: auto;
  right: auto;
  opacity: 1;
  transform: none;
}

.air-datepicker.-inline- .air-datepicker--pointer {
  display: none;
}

.air-datepicker.-is-mobile- {
  --adp-font-size: var(--adp-mobile-font-size);
  --adp-day-cell-height: var(--adp-mobile-day-cell-height);
  --adp-month-cell-height: var(--adp-mobile-month-cell-height);
  --adp-year-cell-height: var(--adp-mobile-year-cell-height);
  --adp-nav-height: var(--adp-mobile-nav-height);
  --adp-nav-action-size: var(--adp-mobile-nav-height);
  position: fixed;
  width: var(--adp-mobile-width);
  border: none;
}

.air-datepicker.-is-mobile- * {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.air-datepicker.-is-mobile- .air-datepicker--pointer {
  display: none;
}

.air-datepicker.-is-mobile-:not(.-custom-position-) {
  transform: translate(-50%, calc(-50% + var(--adp-transition-offset)));
}

.air-datepicker.-is-mobile-.-active-:not(.-custom-position-) {
  transform: translate(-50%, -50%);
}

.air-datepicker.-custom-position- {
  transition: none;
}

.air-datepicker-global-container {
  position: absolute;
  left: 0;
  top: 0;
}

.air-datepicker--pointer {
  --pointer-half-size: calc(var(--adp-pointer-size) / 2);
  position: absolute;
  width: var(--adp-pointer-size);
  height: var(--adp-pointer-size);
  z-index: -1;
}

.air-datepicker--pointer:after {
  content: "";
  position: absolute;
  background: #fff;
  border-top: 1px solid var(--adp-border-color-inline);
  border-right: 1px solid var(--adp-border-color-inline);
  border-top-right-radius: var(--adp-poiner-border-radius);
  width: var(--adp-pointer-size);
  height: var(--adp-pointer-size);
  box-sizing: border-box;
}

.-top-left- .air-datepicker--pointer,
.-top-center- .air-datepicker--pointer,
.-top-right- .air-datepicker--pointer,
[data-popper-placement^=top] .air-datepicker--pointer {
  top: calc(100% - var(--pointer-half-size) + 1px);
}

.-top-left- .air-datepicker--pointer:after,
.-top-center- .air-datepicker--pointer:after,
.-top-right- .air-datepicker--pointer:after,
[data-popper-placement^=top] .air-datepicker--pointer:after {
  transform: rotate(135deg);
}

.-right-top- .air-datepicker--pointer,
.-right-center- .air-datepicker--pointer,
.-right-bottom- .air-datepicker--pointer,
[data-popper-placement^=right] .air-datepicker--pointer {
  right: calc(100% - var(--pointer-half-size) + 1px);
}

.-right-top- .air-datepicker--pointer:after,
.-right-center- .air-datepicker--pointer:after,
.-right-bottom- .air-datepicker--pointer:after,
[data-popper-placement^=right] .air-datepicker--pointer:after {
  transform: rotate(225deg);
}

.-bottom-left- .air-datepicker--pointer,
.-bottom-center- .air-datepicker--pointer,
.-bottom-right- .air-datepicker--pointer,
[data-popper-placement^=bottom] .air-datepicker--pointer {
  bottom: calc(100% - var(--pointer-half-size) + 1px);
}

.-bottom-left- .air-datepicker--pointer:after,
.-bottom-center- .air-datepicker--pointer:after,
.-bottom-right- .air-datepicker--pointer:after,
[data-popper-placement^=bottom] .air-datepicker--pointer:after {
  transform: rotate(315deg);
}

.-left-top- .air-datepicker--pointer,
.-left-center- .air-datepicker--pointer,
.-left-bottom- .air-datepicker--pointer,
[data-popper-placement^=left] .air-datepicker--pointer {
  left: calc(100% - var(--pointer-half-size) + 1px);
}

.-left-top- .air-datepicker--pointer:after,
.-left-center- .air-datepicker--pointer:after,
.-left-bottom- .air-datepicker--pointer:after,
[data-popper-placement^=left] .air-datepicker--pointer:after {
  transform: rotate(45deg);
}

.-top-left- .air-datepicker--pointer,
.-bottom-left- .air-datepicker--pointer {
  left: var(--adp-pointer-offset);
}

.-top-right- .air-datepicker--pointer,
.-bottom-right- .air-datepicker--pointer {
  right: var(--adp-pointer-offset);
}

.-top-center- .air-datepicker--pointer,
.-bottom-center- .air-datepicker--pointer {
  left: calc(50% - var(--adp-pointer-size) / 2);
}

.-left-top- .air-datepicker--pointer,
.-right-top- .air-datepicker--pointer {
  top: var(--adp-pointer-offset);
}

.-left-bottom- .air-datepicker--pointer,
.-right-bottom- .air-datepicker--pointer {
  bottom: var(--adp-pointer-offset);
}

.-left-center- .air-datepicker--pointer,
.-right-center- .air-datepicker--pointer {
  top: calc(50% - var(--adp-pointer-size) / 2);
}

.air-datepicker--navigation {
  grid-area: nav;
}

.air-datepicker--content {
  box-sizing: content-box;
  padding: var(--adp-padding);
  grid-area: body;
}

.-only-timepicker- .air-datepicker--content {
  display: none;
}

.air-datepicker--time {
  grid-area: timepicker;
}

.air-datepicker--buttons {
  grid-area: buttons;
}

.air-datepicker--buttons,
.air-datepicker--time {
  padding: var(--adp-padding);
  border-top: 1px solid var(--adp-border-color-inner);
}

.air-datepicker-overlay {
  position: fixed;
  background: var(--adp-overlay-background-color);
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  opacity: 0;
  transition: opacity var(--adp-overlay-transition-duration) var(--adp-overlay-transition-ease), left 0s, height 0s, width 0s;
  transition-delay: 0s, var(--adp-overlay-transition-duration), var(--adp-overlay-transition-duration), var(--adp-overlay-transition-duration);
  z-index: var(--adp-overlay-z-index);
}

.air-datepicker-overlay.-active- {
  opacity: 1;
  width: 100%;
  height: 100%;
  transition: opacity var(--adp-overlay-transition-duration) var(--adp-overlay-transition-ease), height 0s, width 0s;
}/*# sourceMappingURL=style.css.map */